@model IEnumerable<Expense_Tracker.Models.hostelRoom>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="m-3">

<table class="employee-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.roomNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.floor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.seats)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.roomNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.floor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.seats)
            </td>
            <td>
                <a class="btn btn-edit" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a  class="btn btn-edit" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-delete" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
