@model IEnumerable<Expense_Tracker.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var menuItmes = new Dictionary<string, string>
    {
        {"Product", "/Product"},
        {"Setting","#"}
    };
    ViewData["NavButtons"] = menuItmes;
}

<h1 class="my-4">Product List</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>


<div class="m-3">
    <div class="row">
    @{
        foreach(var item in Model){
              <div class="col" style="min-width:280px; max-width:320px;">
        <div class="widget p-4">
                    @if (!string.IsNullOrEmpty(item.image_path))
                    {
                        <img src="@item.image_path" alt="Product Image" class="img-fluid" style="max-width: 100px; max-height: 100px;" />
                    }
                    else
                    {
                        <span>No Image</span>
                    }
                    <div class=" large-text">@item.Name</div> 
                    <h5 >@item.Price</h5> 
        </div>
    </div>
        }
    }
  
</div>
</div>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>@Html.DisplayNameFor(model => model.image_path)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>
                    @if (!string.IsNullOrEmpty(item.image_path))
                    {
                        <img src="@item.image_path" alt="Product Image" class="img-fluid" style="max-width: 100px; max-height: 100px;" />
                    }
                    else
                    {
                        <span>No Image</span>
                    }
                </td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
